.login-container {
  width: 350px;
  margin: 100px auto;
  padding: 24px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  background: #fff;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 40px;
}

.login-container input {
  width: 100%;
  padding: 100px;
  margin: 40px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.login-container button {
  width: 100%;
  padding: 18px;
  margin-top: 20px;
  background: black;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.login-container button:hover {
  background: #333;
}
